{% extends "layout.html" %}
{% load static from staticfiles %}


{% block content %}

<div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
          <h2>Recent Notifications</h2>
      </ul>
    </nav>
  </div>

  <div class="bounds circle--page">

    <div class="grid-70">

      <div class="circle--article--body">
      {% if unread_notifs %}
        {% for message in unread_notifs %}
            <p>{{ message.verb }}</p>
            <p><strong>{{ message.timestamp}}</strong></p>
            <hr/>
          {% endfor %}
      {% else %}
          <p>No messages to display.</p>
      {% endif %}
      </div>
    </div>

  </div>
{% endblock %}
